@import "./Variables.scss";

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  height: 500px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

