@import "./Variables.scss";

* {
  //border:1px solid red
}

.form {
  margin: 0 25%;
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  h1 {
    height: 5%;
    font-size: 100%;
  }

  input {
    width: 60%;
    margin: 5%;
  }
  textarea {
    resize: none;
    height: 6rem;
  }
  button {
    margin-top: 10%;
  }
}

@media screen and (min-width: 769px) {
  .form {
    display: flex;
    width: 70%;
    height: 30%;
    margin: 0 15%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  h1 {
    display: flex;
    justify-content: flex-start;
  }
  .clien {
    display: flex;
  }
  .Fullname {
    display: flex;
  }

  label {
    width: 100%;
  }

  .envoi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  .divmessage {
    width: 100%;
    margin: 1%;
    display: flex;
    justify-content: flex-start;
  }

  .message {
    margin: 1%;
    display: flex;
    justify-content: flex-start;
  }
  .textarea {
    margin-left: 3%;
    min-width: 80%;
    min-height: 100%;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.6rem;
  }
}
