@import "./Variables.scss";

.Navbar {
  position: fixed;
  bottom: 0;
  display: flex;
  z-index: 1;
  ;

  img {
    height: 100%;
    width: 40%;
  }

  button {
    border: none;
    background-color: $lightgrey;
    width: 100%;

    &:hover {
      filter: invert(1);
    }
  }
}