$darkgrey: #262626;
$lightgrey: #484848;
$bordeaux: #721111;
$black: #000000;
$font-color: rgb(205, 205, 205);
$font-family-title: "Iceberg", "cursive", Verdana, sans-serif;
$font-family-text: "Iceland", "cursive", Verdana, sans-serif;
$shadow: 0px 15px 15px rgb(0, 0, 0, 0.6);
$cyan : #50B2C0;